                <h1>Trang Quan Ly Tai Khoan</h1>
<table id = "customers">
    <tr>
        <th>
            Ten Tai Khoan
        </th>
         <th>
            Email
        </th>
         <th>
            Loai Tai Khoan
        </th>
         <th>
            Edit Tai Khoan
        </th>

    </tr>
    <tbody>
        <% @users.each do |user|%>
            <tr>
                <td>
                    <%= user.name%>
                </td>
                <td>
                    <%= user.email%>
                </td>
                <td>
                    <%= user.role.role_name%>
                </td>
                <td>
                    <%if current_user.role.role_name == "super_admin"%>
                            <%= form_for [:admin, user] do |f|%>
                                    <select name= "user[role_id]">
                                        <option >select one</option>
                                        <option value="2">Admin</option>
                                        <option value="3">Normal</option>
                                        <option value="4">Band</option>
                                    </select>  
                                <%= f.submit 'update'%>
                            <%end%>
                          
                        <%else%>    

                            <%= form_for [:admin, user] do |f|%>
                                    <select name= "user[role_id]">
                                        <option >select one</option>
                                        <option value="3">Normal</option>
                                        <option value="4">Band</option>
                                    </select>  
                                <%= f.submit 'update'%>
                            <%end%>

                        <%end%>
                </td>    
            </tr>
        <% end %>
    </tbody>
</table>